<h1>Books</h1>

<% @books.each do |book| %>

<span><%= book.title %></span>
<p><%= book.body %></p>

<p>
  <%= link_to "Show", book_path(book.id) %>
  <%= link_to "Edit", edit_book_path(book.id) %>
  <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
</p>


 <% end %>
